{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
          
            <div class="active-listing-item">
                {% if listing.url_image %}
                <img width="200px" src="{{ listing.url_image }}">
                {% endif %}
                <a href="{%url 'listing' listing.id %}"> {{ listing.title}}  </a>
                {{ listing.starting_price}}
                {{ listing.description}}
                <br>
                <br>
            </div>
       
    {% endfor %}
{% endblock %}