{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{listing.title}}</h2>
<div class="listing-flexbox">
    <!--Caso estiver Aberta-->    
    {% if listing.active == True %}
    <div class="listing-image-watchlistbtn">
        <img width=300px class="listing-image" src="{{ listing.url_image }}">
        {% if not request.user.is_anonymous %}
        {% if not already_on_watchlist %}
        <!--Botão de add ou deletar da Watchlist-->   
        <form action="{% url 'watchlist' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary btn-lg" type="submit" name="listing_id" value="{{listing.id}}">Add to Wacthlist</button>
        </form>
        {% else %}
        <form action="{% url 'watchlist_delete' %}" method="POST">
            {% csrf_token %}    
            <button class="btn btn-warning btn-lg" type="submit" name="listing_id" value="{{listing.id}}">Delete from Wacthlist</button>    
        </form>
        {% endif %}
        {% endif %}
    </div>
    <div class="listing-content">
        {% if listing.owner == request.user %} 
        <form action="{% url 'close' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger btn-lg" type="submit" name="listing_id" value="{{listing.id}}">Close Listing</button>
        </form>
        {% endif %}
        <div class="description">
            
            {{listing.description}}
        </div>

        <div class="bid-box">
            {% if listing.bids.all %}
            <div class="lastbid">Last Bid: ${{ listing.bids.all.last.bid_value }}</div>
            {% else %}
            <div>The starting bid is: ${{listing.starting_price}}</div>
            {% endif %}
            {% if not request.user.is_anonymous %}
            <form action="{% url 'bid' %}" method=POST class="bid-form">
                {% csrf_token %} 
                {{ PlaceBidForm }}
                <button class="btn btn-success bid-btn-box" type="submit" name="listing_id" value="{{listing.id}}">Place Bid</button>
            </form>
            {% endif %}
            {% if LastBidOwner and LastBidOwner.owner == request.user %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">Your bid is the last bid</div>
            {% endif %}
        </div>
    </div>

</div>

    
<!--Form de lances-->    

<div class="comment-and-details-flex">
    <!-- Comements-->
    <div class="comment-box">
        <H3>Comments</H3>
        <div class="comment-box-content">
        
        {% for comment in comments %}
        <div class="comments">
        <div><strong>{{comment.owner}}</strong>: {{comment.comment}}</div>
        </div>
        {% endfor %}
        {% if not request.user.is_anonymous %}
        <form action="{% url 'comment' %}" method=POST class="comment-form">
            {% csrf_token %} 
            {{ CommentForm }}
            <button class="btn btn-secondary bid-btn-box" type="submit" name="listing_id" value="{{listing.id}}">Comment</button>  
        </form>
        {% endif %}
        </div>  
    </div>
     <!-- Details -->
     <div class="detail-box">
         <h3>Details</h3>
         <div class="detail-box-content">
            <div><strong>Listed by:</strong> {{listing.owner }}</div>
            <div><strong>Category:</strong> {{listing.category }}</div>

         </div>
     </div>

</div>

    <!--Caso estiver Fechada-->
    {% else %}
<div class="close-listing">
<div>Status: Closed</div>
<img width=300px class="listing-image" src="{{ listing.url_image }}">
<br>
{% if LastBidOwner and LastBidOwner.owner == request.user %}
<br>
<div class="alert alert-warning alert-dismissible fade show">You Win !!!! Bid: ${{price}} </div>
{% else %}
{% if LastBidOwner.owner %}
<div>Winner Bid: ${{price}} by {{LastBidOwner.owner}}</div>
{% else %}
<div>there were no bids</div>
{% endif %}
</div>    
{% endif %}
{% endif %}
{% endblock %}